# Ignore node_modules folder
node_modules/

# Ignore build artifacts and output folders
dist/
build/
out/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore IDE and editor-specific files and folders
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Ignore OS-specific files
.DS_Store
Thumbs.db
